src/main/wsdl/BerichtMelding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:tns="http://localhost:8088/ServiceSoap/"
targetNamespace="http://localhost:8088/ServiceSoap/">
	<wsdl:types>
		<xs:schema targetNamespace="http://localhost:8088/ServiceSoap/" elementFormDefault="qualified">
			<xs:element name="BerichtMelding">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Melding" type="tns:IncomingDoc"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="IncomingDoc">
				<xs:sequence>
					<xs:element name="INCIDENT_ID" type="xs:string"/>
					<xs:element name="WAARDE_MELD_CLASS_1" type="xs:string"/>
					<xs:element name="WAARDE_MELD_CLASS_2" type="xs:string"/>
					<xs:element name="WAARDE_MELD_CLASS_3" type="xs:string"/>
					<xs:element name="PRIORITEIT_INCIDENT_BRANDWEER" type="xs:string"/>
					<xs:element name="DTG_START_INCIDENT" type="xs:dateTime"/>
					<xs:element name="STRAATNAAM_NEN" type="xs:string"/>
					<xs:element name="POSTCODE" type="xs:string"/>
					<xs:element name="HUIS_PAAL_NR" type="xs:integer"/>
					<xs:element name="HUIS_NR_TOEV" type="xs:string"/>
					<xs:element name="OBJECT_HUISNUMMERTOEVOEGING" type="xs:string"/>
					<xs:element name="T_X_COORD" type="xs:decimal"/>
					<xs:element name="T_Y_COORD" type="xs:decimal"/>
					<xs:element name="CODE_VOERTUIGSOORT" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="BerichtendienstAntwoord">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Antwoord" type="tns:ResultDoc"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="ResultDoc">
				<xs:sequence>
					<xs:element name="INCIDENT_ID" type="xs:string"/>
					<xs:element name="Resultaatcode" type="xs:string"/>
					<xs:element name="STRAATNAAM_NEN" type="xs:string"/>
					<xs:element name="POSTCODE" type="xs:string"/>
					<xs:element name="HUIS_PAAL_NR" type="xs:integer"/>
					<xs:element name="HUIS_NR_TOEV" type="xs:string"/>
					<xs:element name="OBJECT_HUISNUMMERTOEVOEGING" type="xs:string"/>
					<xs:element name="T_X_COORD" type="xs:string"/>
					<xs:element name="T_Y_COORD" type="xs:string"/>
					<xs:element name="Indicator" type="xs:string"/>
					<xs:element name="Label" type="xs:string"/>
					<xs:element name="Kleurcode" type="xs:string"/>
					<xs:element name="AanvullendeInfo" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="meldingSoapIn">
		<wsdl:part name="parameter" element="tns:BerichtMelding"/>
	</wsdl:message>
	<wsdl:message name="antwoordSoapOut">
		<wsdl:part name="parameter" element="tns:BerichtendienstAntwoord"/>
	</wsdl:message>

	<wsdl:portType name="ServiceSoap">
		<wsdl:operation name="BerichtMelding">
			<wsdl:input message="tns:meldingSoapIn"/>
			<wsdl:output message="tns:antwoordSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="BerichtMelding">
			<soap:operation soapAction="http://localhost:8088/ServiceSoap/BerichtMelding"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="BerichtMelding">
		<wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
			<soap:address location="http://localhost:8088/ServiceSoap"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
