src/main/resources/wsdl/DataRequestBrandweer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:tns="TNS"
targetNamespace="TNS">
	<wsdl:types>
		<xs:schema targetNamespace="TNS" elementFormDefault="qualified">
			<xs:element name="BerichtVraag">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Vraag" type="tns:IncomingDoc"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="IncomingDoc">
				<xs:sequence>
					<xs:element name="INCIDENT_ID" type="xs:string"/>
					<xs:element name="PRIORITEIT_INCIDENT_BRANDWEER" type="xs:string"/>
					<xs:element name="DTG_START_INCIDENT" type="xs:dateTime"/>
					<xs:element name="Locatie">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="STRAATNAAM_NEN" type="xs:string"/>
								<xs:element name="POSTCODE" type="xs:string"/>
								<xs:element name="HUIS_PAAL_NR" type="xs:integer"/>
								<xs:element name="HUIS_NR_TOEV" type="xs:string"/>
								<xs:element name="OBJECT_HUISNUMMERTOEVOEGING" type="xs:string"/>
								<xs:element name="T_X_COORD" type="xs:decimal"/>
								<xs:element name="T_Y_COORD" type="xs:decimal"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Indicator_Risico_object">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Gevraagd" type="xs:boolean"/>
								<xs:element name="ToegestaneKleurcode_Wit" type="xs:boolean"/>
								<xs:element name="ToegestaneKleurcode_Blauw" type="xs:boolean"/>
								<xs:element name="ToegestaneKleurcode_Oranje" type="xs:boolean"/>
								<xs:element name="ToegestaneKleurcode_Rood" type="xs:boolean"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Indicator_Milieuvergunning">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Gevraagd" type="xs:boolean"/>
								<xs:element name="ToegestaneKleurcode_Wit" type="xs:boolean"/>
								<xs:element name="ToegestaneKleurcode_Blauw" type="xs:boolean"/>
								<xs:element name="ToegestaneKleurcode_Oranje" type="xs:boolean"/>
								<xs:element name="ToegestaneKleurcode_Rood" type="xs:boolean"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="BerichtAntwoord">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Antwoord" type="tns:ResultDoc"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="ResultDoc">
				<xs:sequence>
					<xs:element name="INCIDENT_ID" type="xs:string"/>
					<xs:element name="Resultaatcode" type="xs:string"/>
					<xs:element name="Locatie">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="STRAATNAAM_NEN" type="xs:string"/>
								<xs:element name="POSTCODE" type="xs:string"/>
								<xs:element name="HUIS_PAAL_NR" type="xs:integer"/>
								<xs:element name="HUIS_NR_TOEV" type="xs:string"/>
								<xs:element name="OBJECT_HUISNUMMERTOEVOEGING" type="xs:string"/>
								<xs:element name="T_X_COORD" type="xs:decimal"/>
								<xs:element name="T_Y_COORD" type="xs:decimal"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Indicator_Risico_object">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Label" type="xs:boolean"/>
								<xs:element name="Kleurcode" type="xs:boolean"/>
								<xs:element name="AanvullendeInformatie" type="xs:boolean"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Indicator_Milieuvergunning">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Gevraagd" type="xs:boolean"/>
								<xs:element name="ToegestaneKleurcode_Wit" type="xs:boolean"/>
								<xs:element name="ToegestaneKleurcode_Blauw" type="xs:boolean"/>
								<xs:element name="ToegestaneKleurcode_Oranje" type="xs:boolean"/>
								<xs:element name="ToegestaneKleurcode_Rood" type="xs:boolean"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="datarequestSoapIn">
		<wsdl:part name="parameter" element="tns:BerichtVraag"/>
	</wsdl:message>
	<wsdl:message name="responseSoapOut">
		<wsdl:part name="parameter" element="tns:BerichtAntwoord"/>
	</wsdl:message>
	<wsdl:portType name="ServiceSoap">
		<wsdl:operation name="CityAlertDataRequest">
			<wsdl:input message="tns:datarequestSoapIn"/>
			<wsdl:output message="tns:responseSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CityAlertDataRequest">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DataRequest">
		<wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
			<soap:address location="http://localhost:8088/ServiceSoap"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
